header{
    height: 32vh;
    background: linear-gradient(90deg, $color1 40%, $color2 70%);
}

#link-header{
    height: 9vh;
    display: flex;    
    justify-content: space-between;
    padding: 0.5rem 2rem;
    & .one, .one a {
        color: $color2;
        @media screen and (max-width: 600px) {
            color: white;
            font-weight: 400;
         }
         
    }

    & .two, .two a {
        color: $color1;
        font-weight: 800;
        @media screen and (max-width: 600px) {
           text-align: right;
           color: white;
           font-weight: 400;
        }
    }

    & p, br {
        @media screen and (max-width: 600px) {
           display: none;
         }
    }
    @media screen and (max-width: 380px) {
                display: block;
            }
}

#navbar{
    position: relative;
    background: white;
    height: 23vh;
    z-index: 0;
    overflow: hidden;
    display: grid;
    align-items: center;
     }

.stickyHeader {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: calc(9vh + 40px);
}

.stickyNav {
    height: 60px !important; 
    background: linear-gradient(90deg, #1c2c68 40%, #8dba19 70%);
}


#logo {
    @include center;
    height: 6vh;
        & img {
            position: relative;
            z-index: -1;
            margin-top: 40px;
            transform: rotate(45deg) scale(0.3);
        }
        }

.burger {
    display: none
}

.navLinks{
    background: transparent;
    @include center;
    height: 60px;
    @media screen and (max-width: 600px) {
        display: none;
      }
}


.btn{
    color: $color1;
    transition: 0.3s linear;
    position: relative;
    margin: 0 0.8rem;
    padding: 0.6rem;
    font-weight: 600;
    font-size: large;
    font-family: "Amethysta", serif;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #878787, -5px -5px 10px #ffffff;
        &:hover {
        color: white;
        box-shadow: 0px 0px 12px 1px $color1;
      } 
       
      }
.btn::before {
            position: absolute;
            height: 100%;
            overflow: hidden;
            width: 0%;
            opacity: 0;
            z-index: -1;
            transform: translate(0, -50%);
            transition: 0.3s linear;
            content: "";
            left: 0;
            top: 50%;
                          
        } 
        
        
.btn:hover::before{
     border-radius: 5px;
     background: $color1;
     width: 100%;
     height: 100%;
     opacity: 1; }