
@font-face {
    font-family: "font1";
    src: url();
}

$color1: #1c2c68;
$color2: #8dba19;
$color3: black;
$font1: "font1", sans-serif;

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    overflow-x: hidden;
    background: linear-gradient(90deg, $color1 40%, $color2 70%);
}